	
	.fixed-width {
		width: 1200px;
		margin: auto;
	}
	
	nav {
		position: fixed;
		background-color: #d7bf56;
		z-index: 99;
	}
	.col-2 {
		width: calc(100% / 2 - 40px);
		float: left;
		margin: 0 20px;
	}	
	.col-3 {
		width: calc(100% / 3 - 40px);
		float: left;
		margin: 0 20px;
	}	
	.col-4 {
		width: calc(100% / 4 - 40px);
		float: left;
		margin: 0 20px;
	}

	/* 以下為表頭 */
	nav{
		position: fixed;
		background-color: rgba(215,191,86,1);
		height: 100px;
		/*overflow: hidden;*/
	}
	nav .logo {
		float: left;
	}
	nav .logo img {
		width: 200px;
		margin: auto;
		margin-left: 50px;
	}
	.father-ul {
		float: right;
		margin-right: 50px;
	}
	.father-li {
		float: left;
		line-height: 100px;
	}
	#about , #event, #product , #contact {
		display: block;
		height: 100px;
		line-height: 100px;
		color: white;
		text-align: center;
		font-size: 20px;
		padding: 0 20px;
	}
	.father-li li {
		height: 50px;
		line-height: 50px;
		color: white;
		padding: 0 20px;
	}
	.father-li li a {
		display: block;
	}	
		/* 以上為表頭  2018/01/10 粉*/

		/* 以下為表尾  2018/01/10 粉*/
		footer {
			position: relative;
			background-color: #d7bf56;
			padding: 10px 0;
			height: 100px;
		}
		footer span {
			color: white;
		}
		footer .bottom	{
			margin: 20px 0;
			text-align: center;
		}
		footer p {
			color: white;
			font-size: 14px;
			line-height: 30px;
		}
		.box {
			height: 200px;
			background-color: gray;
		}
		/* 以上為表尾  2018/01/10 粉*/