@import url();
	*{
		margin: 0;
		padding: 0;
		font-family: sans-serif , "微軟正黑體" ;
	}
	.full-width {
		width: 100%;
	}
	.clearfix {
		content: "";
		display: block;
		clear: both;
	}
	img {
		width: 100%;
	}
	a {
		text-decoration: none;
		color: white;
	}
	li {
		list-style-type: none;
	}